//@theme "/home/davidpacios/.local/share/rofi/themes/rounded-common.rasi"
//@theme "/home/davidpacios/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/davidpacios/.local/share/rofi/themes/rounded-orange-dark.rasi"
//@theme "/home/davidpacios/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/davidpacios/.local/share/rofi/themes/spotlight.rasi"
